				<div class="workplaceConfig">
					<div class="elmedHeader">Фильтр</div>
					<div class="workplaceFilter">
						<div class="workplaceDoctorFilter"></div>
						<div class="workplaceDatePicker"></div>
					</div>
					<div class="elmedButton workplaceShowButton"><i class="fa fa-calendar-check-o"></i> Показать пациентов</div>
					<div class="workplacePatientsBox">
						<div class="workplacePatients"></div>
						
						<script type="text/html" id="workplacePatientsTitle">
								<div><b><%= time%></b></div>
								<div><%= fio%></div>
						</script>
						
						<script type="text/html" id="workplacePatientsDetails">
							<div class="accodion-item">
								<div class="workplacePatientsDetails1">
									<div><%= age%> Лет</div>
									<div class="workplacePatientsDetails2"><%= priem%></div>
								</div>
								<div><b><%= date%></b></div>
							</div>
						</script>
						
					</div>
				</div>
				<div class="workplaceMain">
					<div class="elmedHeader">Заголовок</div>
					<div class="workplaceTilesOuterBox">
						<div class="workplaceTiles">
							<div class="workplaceTilesInnerBox">
							</div>
						</div>
					</div>
				</div>